.mainGames {
  display: flex;
  flex-direction: column;
  margin-left: 280px;
  padding: 20px;
  width: 100%;
  transition: margin-left 0.3s ease;

  .inform-accont {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;

    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 30px;
      border-radius: 200px;
      height: 70px;
      border: 1px solid #33333399;
      margin-right: 10px;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #42424263;
        border-radius: 10px;
        width: 45px;
        height: 45px;
      }

      .text {
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        h2 {
          font-weight: 500;
          font-size: 10px;
          margin-top: -5px;
          color: #8f8f8f;
        }

        p {
          font-size: 15px;
          font-weight: bold;
          background: linear-gradient(90deg, #b0b0b0, #ffffff, #b0b0b0);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    .box.a {
      background: #33333399;
    }
  }

  .games-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    width: 100%;
    margin-top: 30px;
    background: #3333332e;
    padding: 20px;
    border-radius: 20px;

    .game-box {
      position: relative;
      display: flex;
      justify-content: center;
      /* background: #4242421f; */
      background: #101010;
      border: 1px solid #1d1d1d;
      width: 350px;
      height: 369px;
      border-radius: 20px;
      margin-bottom: 10px;
      transition-duration: 0.15s;
      transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter, -webkit-backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      .sh {
        display: flex;
        flex-direction: column;
        width: 90%;

        .img-content {
          position: relative;
          margin-top: 20px;
          opacity: 0.8;

          .banner-img {
            width: 100%;
            height: 180px;
            border-radius: 20px;
            background: #101010;
          }

          .lower-img {
            position: absolute;
            left: 0;
            bottom: 5px;
            border: 5px solid #212121;
            border-radius: 20px;
            width: 100px;
            height: 100px;
            background: #212121;
          }
        }

        .text-content {
          display: flex;
          flex-direction: column;
          margin-top: 10px;

          h1.titulo {
            font-size: 20px;
            font-weight: bold;
            background: linear-gradient(90deg, #b0b0b0, #ffffff, #b0b0b0);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 5px;
          }

          p.paragrafo {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 5px;
            color: #666;
            font-size: 11px;
            font-weight: 400;
          }
        }

        .inform-content {
          position: absolute;
          bottom: 20px;
          width: 90%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;

          .box-inf {
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-top: 15px;
            margin-right: 10px;

            .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              background: #42424263;
              border-radius: 10px;
              width: 45px;
              height: 45px;
            }

            .text {
              display: flex;
              justify-content: center;
              flex-direction: column;
              margin-left: 10px;

              p {
                font-weight: 500;
                font-size: 10px;
                color: #c9c9c9;
                margin-bottom: 5px;
              }

              h1 {
                font-size: 15px;
                font-weight: bold;
                background: linear-gradient(90deg, #b0b0b0, #ffffff, #b0b0b0);
                background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }

          .interaction {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            margin-top: 15px;

            .play {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 45px;
              width: 110px;
              border-radius: 100px;
              border: 1px solid #33333399;
              cursor: pointer;
              transition-duration: 0.15s;
              transition-property: color, background-color, border-color,
                text-decoration-color, fill, stroke, opacity, box-shadow,
                transform, filter, backdrop-filter, -webkit-backdrop-filter;
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }

            .play:hover {
              background: #33333399;
            }

            .open {
              background: #33333399;
              margin-right: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 45px;
              width: 50px;
              border-radius: 100px;
              border: 1px solid #33333399;
              cursor: pointer;
              transition-duration: 0.15s;
              transition-property: color, background-color, border-color,
                text-decoration-color, fill, stroke, opacity, box-shadow,
                transform, filter, backdrop-filter, -webkit-backdrop-filter;
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }

            .open:hover {
              border: 1px solid #33333399;
              background: transparent;
            }
          }
        }
      }
    }

    .game-box:hover {
      transform: scale(1.01);
    }
  }
}
